.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    border-bottom: 1px #E4D7D3 solid;
    padding: 0px 24px;
    justify-content: space-between;
}

.nav-bar__logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.nav-bar__logo-img {
    width: 50px;
    height: 50px;
}

.nav-bar__logo-title {
    font-size: 24px;
    line-height: 64px;
    color: #A23F02;
    margin-left: 16px;
}

.nav-bar__actions {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar__actions-user {
    background-color: #A23F02;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    margin-left: 8px;
    cursor: pointer;
}